.chat-container {
  display: flex;
  position: fixed;
  align-items: center;
  margin-left: 50%;

  padding: 10px 0;
  bottom: 15vh;
  width: 50%;
  z-index: 5;
  background-color: $color-claro;
  @include shadow-caja;
  @include media(desktop-s) {
    width: 28%;
    margin-left: 100%;
    bottom: auto;
    top: 12vw;
    padding-left: 2.3vw;
    transition: 0.5s;
  }
  &__img {
    width: 13vw;
    height: 13vw;
    margin-left: 10px;
    //border: 2px solid red;
    @include media(desktop-s) {
      display: none;
    }
  }
  &__text {
    font-family: "Aventa";
    //border: 2px solid red;
    font-weight: 500;
    padding: 0 6px 0 10px;
    font-size: 3vw;
    margin: 0;
    line-height: 110%;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1.5vw;
      margin-right: 1.5vw;
    }
    &--span {
      font-size: 2.5vw;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 1.2vw;
      }
    }
  }
  &__arrow {
    border: 2px solid red;
    width: 6vw;
    height: 9vw;
  }
}

.chat__close {
  width: 2vw;
  height: 2vw;
  left: 5px;
  top: 5px;
  display: flex;
  position: absolute;
  border: 2px solid red;
}

.chat-is-active {
  margin-left: 100%;

  @include media(desktop-s) {
    margin-left: 72%;
  }
}
