.chat-container {
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 0;
  margin-left: 82%;
  padding: 10px 0;
  bottom: 15vh;
  width: 50%;
  transition: 0.5s ease-in-out;
  z-index: 5;
  animation: chatAparece 1s ease-in-out 2s 1 forwards;
  background-color: $color-claro;
  @include shadow-caja;
  @include media(desktop-s) {
    width: 28vw;
    margin-left: 100%;
    bottom: auto;
    top: 8vw;
    padding: 1vw 0 1vw 2.5vw;
    // animation: none;
    display: flex;
    opacity: 0;
  }
  &__img {
    width: 13vw;
    height: 13vw;
    margin-left: 10px;
    //border: 2px solid red;
    @include media(desktop-s) {
      display: none;
    }
  }
  &__text {
    font-family: "Aventa";
    //border: 2px solid red;
    font-weight: 500;
    padding: 0 6px 0 10px;
    font-size: 3vw;
    margin: 0;
    line-height: 110%;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1.5vw;
      margin-right: 1.5vw;
    }
    &--span {
      font-size: 2.5vw;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 1.2vw;
      }
    }
  }
  &__arrow {
    //border: 2px solid red;
    width: 2.5vw;
    margin-left: 1.5vw;
  }
}

.chat__close {
  width: 18vw;
  height: 18vw;
  z-index: 6;
  position: absolute;
  // border: 2px solid red;
  @include media(desktop-s) {
    width: 15px;
    height: 15px;
    cursor: pointer;
    left: 5px;
    top: 5px;
    display: flex;
    position: absolute;
    //border: 2px solid red;
    background-image: url(../images/close.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes chatAparece {
  0% {
    display: flex;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.chat-is-active {
  margin-left: 50%;

  @include media(desktop-s) {
    margin-left: 72%;
  }
}
