.contacto {
  background-color: $color-variacion5;
  padding-bottom: 9.37vw;
  @include media(desktop-s) {
    position: relative;
    padding-bottom: 11vw;
  }
  &__start {
    //border: 2px solid red;
    padding-top: 4.68vw;
    width: 100%;
    display: flex;
    @include media(desktop-s) {
      position: relative;
    }
    &--image {
      width: 52%;
      @include media(desktop-s) {
        width: 40%;
        left: 10%;
        margin-top: 5vw;
        position: relative;
      }
    }
    &--title-cont {
      //border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      width: 42%;
      @include media(desktop-s) {
        width: 35%;
        right: 10%;
        position: absolute;
      }

      &--title {
        text-align: end;
        font-size: 6.25vw;
        line-height: 120%;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 3.1vw;
          text-align: start;
          width: 100%;
        }
      }
    }
  }
  &__container {
    //border: 2px solid red;
    margin: 9.37vw auto 0;
    width: 90%;
    @include media(desktop-s) {
      width: 35%;
      position: absolute;
      top: 13vw;
      right: 10%;
    }
    &--text {
      font-size: 3.12vw;
      font-weight: 600;
      color: $color-claro;
      @include media(desktop-s) {
        font-size: 1.35vw;
        //border: 2px solid red;
        width: 94%;
        margin-bottom: 0.5vw;
      }
    }
    &--subtitle {
      font-size: 5.62vw;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 2.5vw;
        margin-bottom: 1vw;
      }
    }
  }
}

.form {
  //border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include media(desktop-s) {
    justify-content: flex-start;
  }
  &__input {
    width: 100%;
    margin-bottom: 3.12vw;
    font-size: 3.43vw;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1vw;
      margin-bottom: 1.3vw;
      padding: 5px;
    }
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;

      @include media(desktop-s) {
        font-size: 1vw;
      }
    }
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 31.25vw;
    font-size: 3.43vw;
    padding: 10px;

    margin-bottom: 6.25vw;
    border: none;
    outline: none;
    border-radius: 0;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1vw;
      height: 10vw;
      margin-bottom: 3vw;
    }
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;
      @include media(desktop-s) {
        font-size: 1vw;
      }
    }
  }
  & button {
    border: none;
    outline: none;
    border-radius: 0;
    padding: 1.56vw 0;
    width: 43.75vw;
    font-size: 5.62vw;
    cursor: pointer;
    color: $color-claro;
    background-color: $color-variacion1;
    @include media(desktop-s) {
      font-size: 1.5vw;
      width: 13vw;
      padding: 0.5vw;
      transition: 0.2s;
    }
    &:hover {
      @include media(desktop-s) {
        background-color: $color-variacion2;
      }
    }
  }
}

.contacto-arrow {
  width: 7.81vw;
  margin-bottom: 3.12vw;
  @include media(desktop-s) {
    width: 18%;
    position: relative;
    right: -13%;
  }
}
