.contacto {
  background-color: $color-variacion5;
  padding-bottom: 9.37vw;
  &__start {
    //border: 2px solid red;
    padding-top: 4.68vw;
    width: 100%;
    display: flex;
    &--image {
      width: 52%;
    }
    &--title-cont {
      //border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      width: 42%;
      &--title {
        text-align: end;
        font-size: 6.25vw;
        color: $color-claro;
      }
    }
  }
  &__container {
    //border: 2px solid red;
    margin: 9.37vw auto 0;
    width: 90%;
    &--text {
      font-size: 3.12vw;
      font-weight: 700;
      color: $color-claro;
    }
    &--subtitle {
      font-size: 5.62vw;
      color: $color-variacion1;
    }
  }
}

.form {
  //border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__input {
    width: 100%;
    margin-bottom: 3.12vw;
    font-size: 3.43vw;
    padding: 10px;
    color: $color-variacion2;
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;
      border: none;
      outline: none;
    }
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 31.25vw;
    font-size: 3.43vw;
    padding: 10px;

    margin-bottom: 6.25vw;
    border: none;
    outline: none;
    color: $color-variacion2;

    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;
    }
  }
  & button {
    border: none;
    outline: none;
    padding: 1.56vw 0;
    width: 43.75vw;
    font-size: 5.62vw;

    color: $color-claro;
    background-color: $color-variacion1;
  }
}

.contacto-arrow {
  width: 7.81vw;
  margin-bottom: 3.12vw;
}
