.contacto {
  padding-bottom: 9.37vw;
  background-color: $color-variacion5;
  @include media(desktop-s) {
    padding-bottom: 7vw;
    position: relative;
  }
  &__start {
    padding-top: 2.68vw;
    width: 100%;
    display: flex;
    @include media(desktop-s) {
      position: relative;
      padding: 1vw;
    }
    &--image {
      width: 52%;
      @include media(desktop-s) {
        width: 37%;
        left: 9.5%;
        margin-top: 2.1vw;
        position: relative;
      }
    }
    &--title-cont {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      width: 42%;
      @include media(desktop-s) {
        width: 35%;
        right: 10%;
        position: absolute;
      }
      &--title {
        text-align: end;
        font-size: 6.25vw;
        line-height: 120%;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 2.7vw;
          text-align: start;
          width: 100%;
        }
      }
    }
  }
  &__container {
    margin: 9.37vw auto 0;
    width: 90%;
    @include media(desktop-s) {
      width: 30%;
      position: absolute;
      top: 1vw;
      right: 15%;
    }
    &--text {
      font-size: 3.12vw;
      font-weight: 600;
      color: $color-claro;
      @include media(desktop-s) {
        font-size: 1.2vw;
        width: 86%;
        margin-bottom: 0.5vw;
      }
    }
    &--subtitle {
      font-size: 5.62vw;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 2vw;
        margin-bottom: 1vw;
        font-weight: 400;
      }
    }
  }
}

.form {
  flex-wrap: wrap;
  justify-content: center;
  @include media(desktop-s) {
    justify-content: flex-start;
  }
  &__input {
    width: 100%;
    margin-bottom: 3.12vw;
    font-size: 3.43vw;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1vw;
      margin-bottom: 1.3vw;
      padding: 0.7vw;
    }
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;
      @include media(desktop-s) {
        font-size: 1vw;
      }
    }
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 31.25vw;
    font-size: 3.43vw;
    padding: 10px;
    margin-bottom: 6.25vw;
    border: none;
    outline: none;
    border-radius: 0;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1vw;
      height: 6vw;
      margin-bottom: 1.5vw;
    }
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      font-size: 3.43vw;
      @include media(desktop-s) {
        font-size: 1vw;
      }
    }
  }
  & button {
    border: none;
    outline: none;
    border-radius: 0;
    padding: 0.56vw 0;
    width: 43.75vw;
    font-size: 5.62vw;
    cursor: pointer;
    color: $color-claro;
    border: 3px solid $color-variacion1;
    background-color: $color-variacion1;
    @include media(desktop-s) {
      font-size: 1.3vw;
      width: 10vw;
      padding: 0.5vw;
      transition: 0.2s;
    }
    &:hover {
      @include media(desktop-s) {
        background-color: $color-variacion2;
      }
    }
    &:active {
      background-color: $color-variacion5;
    }
  }
}

.contacto-arrow {
  width: 7.81vw;
  margin-bottom: 3.12vw;
  @include media(desktop-s) {
    width: 12%;
    position: relative;
    right: 0%;
    margin-bottom: 1vw;
  }
}

.input-nombre {
  width: 48%;
  margin-right: 4%;
}
.input-apellido {
  width: 48%;
}

.contacto-grilla {
  width: 33%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-form-loader {
  width: 100%;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  transition: 0.5s;
  will-change: opacity;
  justify-content: center;
  @include media(desktop-s) {
    width: 40%;
    justify-content: flex-start;
  }
}

.contact-form-loader img {
  width: 12vw;
  @include media(desktop-s) {
    width: 3vw;
  }
}

.contact-form-response {
  margin-top: 2vw;
  transition: 1s;
  will-change: opacity;
  @include media(desktop-s) {
    margin-top: 1vw;
  }
}

.contact-form-response p {
  font-size: 5em;
  margin-bottom: 0;
  color: $color-variacion1;
  @include media(desktop-s) {
    font-size: 1.3em;
  }
}

.none {
  opacity: 0;
}

.form-mobile {
  display: flex;
  @include media(desktop-s) {
    display: none;
  }
}

.form-desktop {
  display: none;
  @include media(desktop-s) {
    display: flex;
  }
}
