.five {
  // border: 2px solid red;
  padding-bottom: 1em;
  position: relative;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    padding-top: 8em;
    transition: 0.5s;
  }
}

.five-container {
  width: 90%;
  //border: 2px solid red;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0px;

  position: relative;
  top: -21.87em;
  transition: 0.5s;
  //padding-bottom: 100vw;
  @include media(desktop-s) {
    width: 70%;
    top: 0;
    padding-bottom: 0;

    //transition: 0.5s;
    top: 25em;
    justify-content: space-evenly;
    background-color: $color-claro;
    @include shadow-caja;
  }
  &__box {
    width: 45%;
    height: 10.62em;
    padding-top: 1.5em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $color-claro;
    @include shadow-caja;
    @include media(desktop-s) {
      width: 20%;
      height: 20em;
      padding-top: 2em;
      margin-bottom: 0;

      box-shadow: none;
    }
    &--image-cont {
      width: 9.37vw;
      height: 9.37vw;
      margin-bottom: 0;
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      @include media(desktop-s) {
        width: 4em;
        height: 4em;
      }
    }
    &--number {
      font-size: 10vw;
      margin: 0;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 4em;
      }
    }
    &--subtitle {
      font-size: 3vw;
      margin: 0;
      font-weight: 600;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 1.2em;
      }
    }
    &--button {
      width: 10.93vw;
      height: 10.93vw;
      margin: 0;
      position: absolute;
      bottom: -6.25vw;
      z-index: 5;
      background-color: $color-variacion1;
      @include basic-flex;
      @include media(desktop-s) {
        cursor: pointer;
        width: 2.5em;
        height: 2.5em;
        position: relative;
        bottom: 0;
        margin-top: 2em;
        background-color: $color-variacion2;
        transition: 0.3s;
        will-change: transform;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.five-subcontainer {
  margin: 0 auto;
  width: 90%;
  padding: 3vw;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 110vw;
  background-color: $color-variacion5;
  opacity: 0;
  transition: 1s;
  @include media(desktop-s) {
    // border: 2px solid red;
    height: 27em;
    width: 80%;
    padding: 3em 0;

    position: absolute;
  }
  &__square {
    width: 7vw;
    height: 7vw;
    top: -3.5vw;
    transform: rotateZ(45deg);
    position: absolute;
    z-index: 0;
    //border: 2px solid red;
    background-color: $color-variacion5;
    @include media(desktop-s) {
      width: 3em;
      height: 3em;
      top: -1.5em;
    }
  }
  &__title {
    width: 100%;
    padding: 1vw 2vw;
    z-index: 1;
    font-size: 4vw;
    font-weight: 500;

    color: $color-variacion5;
    background-color: $color-variacion1;
    @include media(desktop-s) {
      // border: 2px solid red;
      width: 17em;
      text-align: center;
      font-size: 1.8em;
      padding: 0.5em 1em;
    }
  }
  &__info {
    //border: 2px solid red;
    margin-top: 1.5vw;
    // border: 2px solid red;
    @include media(desktop-s) {
      width: 50em;
    }
    &--text {
      font-size: 3.3vw;
      margin-bottom: 4vw;
      font-weight: 600;

      color: $color-claro;
      @include media(desktop-s) {
        font-size: 1.3em;
        margin-bottom: 1em;
      }
      & img {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 0.5vw;
        background-color: $color-variacion1;
        @include media(desktop-s) {
          width: 0.8em;
          height: 0.8em;
        }
      }
    }
  }
  &__modulos {
    width: 100%;
    margin: 1.5vw 0;
    // border: 2px solid red;
    background-color: $color-variacion2;
    @include media(desktop-s) {
      display: flex;
      align-items: center;
      margin: 0.5em 0;
      width: 45%;
    }
    &--title {
      font-size: 3.4vw;
      margin-bottom: 0;
      font-weight: 600;
      padding: 2vw;
      color: $color-claro;
      //border: 2px solid red;
      @include media(desktop-s) {
        font-size: 1.3em;
        width: 100%;
        padding: 1em;
      }
      &--span {
        color: $color-variacion1;
      }
    }
    &--module-container {
      // border: 2px solid white;

      display: none;
      width: 100%;
      height: 55vw;
      padding: 6vw 2vw 1vw;
      overflow: auto;
      box-shadow: inset 0 -10px 10px 0 rgba(255, 255, 255, 0.15);
      background-color: $color-variacion5;
      @include media(desktop-s) {
        padding: 1em 0 3em;
        width: 40%;
        position: absolute;
        height: 26.1em;
        right: 7%;
        top: 3.6em;
        box-shadow: inset 0 -1em 0.4em 0 rgba(255, 255, 255, 0.1);
      }
      &::-webkit-scrollbar {
        width: 8px;
        background: $color-claro;
        box-shadow: inset 0 0 1px 0px;
      }
      &::-webkit-scrollbar-thumb {
        background: $color-variacion1;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.box1 {
  background-image: url(../images/box1.svg);
}
.box2 {
  background-image: url(../images/box2.svg);
}
.box3 {
  background-image: url(../images/box3.svg);
}
.box4 {
  background-image: url(../images/box4.svg);
}

.line-one {
  border-bottom: 4px solid $color-variacion2;
  height: 0;
  width: 75%;
  position: absolute;
  transition: 0.3s;
  @include media(desktop-s) {
    border-bottom: 3px solid $color-variacion1;
  }
}

.line-two {
  border-bottom: 4px solid $color-variacion2;
  height: 0;
  width: 75%;
  transform: rotateZ(90deg);
  position: absolute;
  transition: 0.3s;

  @include media(desktop-s) {
    border-bottom: 3px solid $color-variacion1;
  }
}

.line1-active {
  transform: rotateZ(45deg);
}

.line2-active {
  transform: rotateZ(135deg);
}

// .five-active {
//   padding: 0;
//   margin-top: 20vw;
// }

.five-container-active {
  top: -12vw;
  @include media(desktop-s) {
    top: 5em;
  }
}

.square-1 {
  left: 19%;
  @include media(desktop-s) {
    left: 16.6%;
  }
}

.square-2 {
  right: 19%;
  @include media(desktop-s) {
    left: 37.7%;
  }
}

.square-3 {
  left: 19%;
  @include media(desktop-s) {
    left: 58.7%;
  }
}

.square-4 {
  right: 19%;
  @include media(desktop-s) {
    left: 79.8%;
  }
}

.project-subcont {
  top: 54vw;
  @include media(desktop-s) {
    top: 37vw;
  }
}

.modules-subcont {
  top: 54vw;
  height: 109vw;
  @include media(desktop-s) {
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
    height: 30em;

    top: 37em;
  }
}

.videos-subcont {
  top: 128vw;
  display: none;
  @include media(desktop-s) {
    top: 37em;
  }
}

.hours-subcont {
  top: 128vw;
  display: none;
  @include media(desktop-s) {
    top: 37em;
  }
}

.five-container-module-active {
  margin-bottom: 20vw;
  @include media(desktop-s) {
    margin-bottom: 40em;
  }
}

.subcont-is-active {
  display: flex;
  opacity: 1;
  transition: 1s;
  @include media(desktop-s) {
  }
}

.project-box-active {
  margin-bottom: 80vw;
  @include media(desktop-s) {
    margin-bottom: 0;
  }
}

.module-box-active {
  margin-bottom: 130vw;
  @include media(desktop-s) {
    margin-bottom: 0;
  }
}

.video-box-active {
  margin-bottom: 105vw;
  @include media(desktop-s) {
    margin-bottom: 0;
  }
}

.hours-box-active {
  margin-bottom: 105vw;
  @include media(desktop-s) {
    margin-bottom: 0;
  }
}

.module-container-active {
  display: block;
}

.module-active {
  background-color: $color-variacion1;
}

.module-active-span {
  color: $color-variacion2;
}

.module-container-text {
  font-size: 3.2vw;
  margin: 2.5vw 0;
  color: $color-claro;
  @include media(desktop-s) {
    font-size: 1.2em;
    margin: 1em;
  }
}
.module-container-span {
  color: $color-variacion1;
}

.module-container-3 {
  top: 3.6em;
}
