.footer {
  padding: 9.37vw 0;
  background-color: $color-primario;
  @include media(desktop-s) {
    padding: 3vw 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__flecha {
    display: none;
    @include media(desktop-s) {
      display: flex;
      width: 65%;
      height: 5vw;
      transition: 0.5s;
      will-change: width;
      //border: 2px solid red;
      position: absolute;
    }
  }
}

.footer-container {
  //border: 2px solid red;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @include media(desktop-s) {
    width: 50%;
    justify-content: space-between;
  }
  &__figure {
    //  border: 2px solid red;
    width: 50%;
    margin-top: 1.56vw;
    @include media(desktop-s) {
      width: 16vw;
      margin-left: 3vw;
    }
    &--image {
      //    border: 2px solid red;
      width: 70%;
      @include media(desktop-s) {
        width: 100%;
      }
    }
  }
  &__subcont {
    width: 50%;
    //border: 2px solid red;
    @include media(desktop-s) {
      width: 40%;
    }
    &--links {
      //border: 2px solid red;
      width: 55%;
      margin: 0 0 1.56vw;
      display: flex;
      justify-content: space-between;
      @include media(desktop-s) {
        margin: 0 0 15px;
        width: 10vw;
      }
      & a {
        //   border: 2px solid red;
        width: 6.25vw;
        height: 6.25vw;
        padding: 0;
        margin-bottom: 3.12vw;
        @include media(desktop-s) {
          width: 2.5vw;
          height: 2.5vw;
          margin-bottom: 0;
        }
        & img {
          width: 100%;
        }
      }
    }
    &--text {
      font-size: 2.5vw;
      margin: 1.56vw 0 3.12vw;
      font-weight: 600;
      color: $color-secundario;
      @include media(desktop-s) {
        font-size: 1.07vw;
        margin: 0 0 10px;
        width: 96%;
        // border: 2px solid red;
      }
    }
    &--email {
      font-size: 3.12vw;
      font-weight: 600;
      color: $color-secundario;
      @include media(desktop-s) {
        font-size: 1.35vw;
        //   border: 2px solid red;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.footer:hover .footer__flecha {
  width: 60%;
}
