.footer {
  padding: 9.37vw 0;
  background-color: $color-primario;
  @include media(desktop-s) {
    padding: 4vw 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__flecha {
    display: none;
    @include media(desktop-s) {
      display: flex;
      width: 70%;
      height: 5vw;
      //border: 2px solid red;
      position: absolute;
    }
  }
}

.footer-container {
  //border: 2px solid red;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @include media(desktop-s) {
    width: 50%;
  }
  &__figure {
    //border: 2px solid red;
    width: 50%;
    margin-top: 1.56vw;

    &--image {
      width: 70%;
    }
  }
  &__subcont {
    width: 50%;
    &--links {
      //border: 2px solid red;
      width: 55%;
      margin: 0 0 1.56vw;
      display: flex;
      justify-content: space-between;
      @include media(desktop-s) {
        margin: 0 0 1vw;
        width: 40%;
      }
      & a {
        //border: 2px solid red;
        width: 6.25vw;
        height: 6.25vw;
        padding: 0;
        margin-bottom: 3.12vw;
        @include media(desktop-s) {
          width: 2.5vw;
          height: 2.5vw;
          margin-bottom: 0;
        }
        & img {
          width: 100%;
        }
      }
    }
    &--text {
      font-size: 2.5vw;
      margin: 1.56vw 0 3.12vw;
      font-weight: 600;
      color: $color-secundario;
      @include media(desktop-s) {
        font-size: 1.15vw;
        margin: 0.5vw 0 1vw;

        width: 80%;
      }
    }
    &--email {
      font-size: 3.12vw;
      font-weight: 600;
      color: $color-secundario;
      @include media(desktop-s) {
        font-size: 1.5vw;
      }
    }
  }
}
