.four {
  padding-bottom: 20vw;
  @include media(desktop-s) {
    padding-bottom: 5vw;
    position: relative;
    padding-top: 10.75vw;
  }
  &__container {
    width: 85%;
    margin: 1vw 15% 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include media(desktop-s) {
      width: 90%;
      margin: 0 15% 0 0;
    }
    &--title {
      width: 100%;
      font-size: 6vw;
      text-align: end;
      line-height: 110%;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 2.3vw;
      }
      & span {
        color: $color-variacion1;
      }
    }
    &--arrow {
      opacity: 1;
      width: 7vw;
      height: 7vw;
      right: 15%;
      margin-right: 0%;
      will-change: transform margin;
      transition: $scroll-transition2;
      @include media(desktop-s) {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

.admins {
  @include media(desktop-s) {
    display: flex;
  }
  &__img-container {
    height: 65.62vw;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    @include media(desktop-s) {
      width: 45%;
      height: 36.58vw;
    }

    &--block1 {
      width: 48.43vw;
      height: 48.43vw;
      z-index: 1;
      bottom: 0;
      position: absolute;
      @include media(desktop-s) {
        width: 27vw;
        height: 27vw;
      }
    }
    &--block2 {
      width: 32.81vw;
      height: 32.81vw;
      bottom: 10.31vw;
      z-index: 2;
      position: absolute;
      @include media(desktop-s) {
        width: 18.29vw;
        height: 18.29vw;
        bottom: 5.5vw;
      }
    }
    &--block3 {
      width: 7.81vw;
      height: 7.81vw;
      bottom: 2.5vw;
      z-index: 2;
      position: absolute;
      @include media(desktop-s) {
        width: 4.35vw;
        height: 4.35vw;
        bottom: 1.11vw;
      }
    }
    &--image {
      width: 62.5vw;
      bottom: 0;
      position: absolute;
      z-index: 4;
      @include media(desktop-s) {
        width: 34.84vw;
      }
    }
  }
  &__container {
    width: 75%;
    margin: 0 auto;
    @include media(desktop-s) {
    }
    &--name {
      font-size: 7.5vw;
      font-weight: 700;
      margin: 3vw 0 0;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 2.3vw;
        font-weight: 700;
        margin: 12.5vw 0 0;
      }
    }
    &--subtitle {
      font-size: 4.06vw;
      margin: 0px 0 3.12vw;
      font-weight: 700;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 1.35vw;
        margin: 0 0 1vw;
        padding: 10px 15px 6px;
      }
    }
    &--subcont {
      display: flex;
      flex-wrap: wrap;
      @include media(desktop-s) {
        position: relative;
      }
      &--button {
        width: 26.56vw;
        height: 7vw;
        font-size: 3.12vw;
        font-weight: 600;
        padding: 1vw 3.12vw;
        margin-right: 2.18vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s ease-in-out;
        background-color: $color-variacion1;
        color: $color-claro;
        @include media(desktop-s) {
          display: none;
        }
        & img {
          width: 2.1vw;
          margin-top: 0.5vw;
          transition: 0.5s ease-in-out;
        }
      }
      &--link {
        width: 6.5vw;
        height: 6.5vw;
        margin-top: 0.1vw;
        margin-right: 2.18vw;
        border-radius: 50px;
        will-change: background-color;
        transition: 0.3s;
        background-color: $color-variacion2;
        @include basic-flex;
        @include media(desktop-s) {
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 0.5vw;
          margin-top: 11vw;
        }
        &:hover {
          background-color: $color-variacion1;
        }
      }
      &--text {
        width: 100%;
        font-size: 2.85vw;
        margin-top: 6.25vw;
        margin-bottom: 0;
        line-height: 120%;
        display: none;
        background-image: url(../images/quotes.svg);
        background-size: 4.5vw;
        background-position: left top;
        background-repeat: no-repeat;
        font-style: italic;
        font-weight: 200;
        color: $color-secundario2;
        font-family: $Fuente1;
        @include media(desktop-s) {
          font-size: 1.1vw;
          margin: 0;
          background-size: 2.3vw;
          position: absolute;
          width: 56%;
          display: block;
        }
      }
    }
  }
}

.rafael-name {
  @include media(desktop-s) {
    margin-top: 8vw;
    height: 6vw;
    display: flex;
    align-items: flex-end;
    border-right: 4px solid $color-variacion1;
  }
}

.rafael-subtitle {
  @include media(desktop-s) {
    border-top: 4px solid $color-variacion1;
    border-left: 4px solid $color-variacion1;
  }
}

.rafael {
  margin-top: -8.5vw;
  @include media(desktop-s) {
    margin-top: -4.73vw;
  }
  &__image {
    left: 4.68vw;
    will-change: left;
    transition: $scroll-transition2;
    @include media(desktop-s) {
      left: 2.66vw;
    }
  }
}

.rafael-cont {
  padding: 0 0 0 2vw;
  @include media(desktop-s) {
    padding-right: 10vw;
  }
}

.block-rafael1 {
  will-change: left;
  left: 0;
  background-color: $color-variacion2;
  transition: $scroll-transition2;
}
.block-rafael2 {
  left: 22.81vw;
  will-change: left;
  background-color: $color-variacion1;
  transition: $scroll-transition2;
  @include media(desktop-s) {
    left: 12.71vw;
  }
}

.block-rafael3 {
  left: 55.62vw;
  will-change: left;
  background-color: $color-variacion2;
  transition: $scroll-transition2;
  @include media(desktop-s) {
    left: 31vw;
  }
}

.scroll-four .rafael__image {
  left: -36%;
}

.scroll-four .block-rafael1 {
  left: -26%;
}

.scroll-four .block-rafael2 {
  left: -26%;
}

.scroll-four .block-rafael3 {
  left: 10%;
}

.text-rafael.desktop {
  @include media(desktop-s) {
    display: block;
  }
}

.melissa-name {
  text-align: end;
}
.melissa-subtitle {
  text-align: end;
  @include media(desktop-s) {
    border-right: 4px solid $color-variacion1;
    border-top: 4px solid $color-variacion1;
  }
}

.melissa-saber-mas {
  margin-right: 0;
}

.in-melissa {
  @include media(desktop-s) {
    margin-top: 7vw;
  }
}

.melissa-cont {
  padding: 0 2vw 0 0;
}

.melissa {
  @include media(desktop-s) {
    flex-direction: row-reverse;
  }
  &__image {
    right: 15px;
    width: 67vw;
    will-change: right;
    transition: $scroll-transition2;
    @include media(desktop-s) {
      right: 2.66vw;
      width: 35vw;
    }
  }
}

.block-melissa1 {
  right: 0;
  will-change: right;
  background-color: $color-variacion1;
  transition: $scroll-transition2;
}
.block-melissa2 {
  right: 22.81vw;
  will-change: right;
  background-color: $color-variacion2;
  transition: $scroll-transition2;
  @include media(desktop-s) {
    right: 12.71vw;
  }
}
.block-melissa3 {
  right: 55.62vw;
  will-change: right;
  background-color: $color-variacion1;
  transition: $scroll-transition2;
  @include media(desktop-s) {
    right: 31vw;
  }
}

.scroll-four .melissa__image {
  right: -42%;
}

.scroll-four .block-melissa1 {
  right: -22%;
}

.scroll-four .block-melissa2 {
  right: -22%;
}

.scroll-four .block-melissa3 {
  right: 18%;
}

.subcont-melissa {
  justify-content: flex-end;
}

.text-melissa {
  @include media(desktop-s) {
    display: block;
    text-align: start;
    width: 29vw;
  }
}

.ig-image,
.in-image {
  width: 50%;
}

.admins-padding-span {
  padding-left: 20px;
  @include media(desktop-s) {
    padding-left: 2.7vw;
  }
}
.admins-color-span {
  color: $color-variacion2;
}

.show-text {
  display: block;
}

.saber-mas-active {
  transform: rotateZ(180deg);
}

.saber-mas-active-color {
  background-color: $color-variacion2;
}

.scroll-four .four__container--arrow {
  opacity: 0.19;
  transform: scale(0.9);
  margin-right: -5%;
  margin-top: -4%;
}
