.four {
  padding-bottom: 40vw;

  //border: 2px solid red;
  @include media(desktop-s) {
    padding-bottom: 5vw;
    position: relative;
    padding-top: 10.75vw;
  }
  &__container {
    //border: 2px solid red;
    width: 85%;
    margin: 1vw 15% 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include media(desktop-s) {
      width: 90%;
      margin: 0 15% 0 0;
    }
    &--title {
      //border: 2px solid red;
      width: 100%;
      font-size: 6vw;
      text-align: end;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 2.8vw;
      }
      & span {
        color: $color-variacion1;
      }
    }
    &--arrow {
      //border: 2px solid red;
      opacity: 0.19;
      opacity: 1;
      width: 7vw;
      height: 7vw;
      right: 15%;
      @include media(desktop-s) {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

.admins {
  //border: 2px solid red;
  @include media(desktop-s) {
    display: flex;
  }
  &__img-container {
    // border: 2px solid red;
    height: 65.62vw;
    position: relative;
    @include media(desktop-s) {
      width: 45%;
      height: 36.58vw;
    }
    &--block1 {
      width: 48.43vw;
      height: 48.43vw;
      z-index: 1;
      bottom: 0;
      position: absolute;
      @include media(desktop-s) {
        width: 27vw;
        height: 27vw;
      }
    }
    &--block2 {
      width: 32.81vw;
      height: 32.81vw;
      bottom: 10.31vw;

      z-index: 2;
      position: absolute;
      @include media(desktop-s) {
        width: 18.29vw;
        height: 18.29vw;
        bottom: 5.5vw;
      }
    }
    &--block3 {
      width: 7.81vw;
      height: 7.81vw;
      bottom: 2.5vw;
      z-index: 2;
      position: absolute;
      @include media(desktop-s) {
        width: 4.35vw;
        height: 4.35vw;
        bottom: 1.11vw;
      }
    }
    &--image {
      width: 62.5vw;
      bottom: 0;

      position: absolute;
      z-index: 4;
      @include media(desktop-s) {
        width: 34.84vw;
      }
    }
  }
  &__container {
    //border: 2px solid red;
    width: 75%;
    margin: 0 auto;
    @include media(desktop-s) {
    }
    &--name {
      font-size: 7.5vw;
      margin: 3vw 0 0;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 3vw;
        margin: 12.5vw 0 0;
      }
    }
    &--subtitle {
      font-size: 4.06vw;
      margin: 0px 0 3.12vw;
      color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 1.35vw;
        margin: 0 0 1vw;
        padding: 10px 15px 6px;

        // border: 2px solid red;
      }
    }
    &--subcont {
      //border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      @include media(desktop-s) {
        position: relative;
      }
      &--button {
        width: 26.56vw;
        font-size: 3.12vw;
        font-weight: 600;
        padding: 1vw 3.12vw;
        margin-right: 2.18vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-variacion2;
        color: $color-claro;
        @include media(desktop-s) {
          display: none;
        }
        & img {
          width: 2.1vw;
          margin-top: 0.5vw;
          transition: 0.1s;
        }
      }
      &--link {
        //border: 2px solid red;
        width: 6.25vw;
        height: 6.25vw;
        margin-right: 2.18vw;
        border-radius: 50px;
        background-color: $color-variacion2;
        @include basic-flex;
        @include media(desktop-s) {
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 0.5vw;
          margin-top: 11vw;
        }
      }
      &--text {
        //border: 2px solid red;
        width: 100%;
        font-size: 2.8vw;
        font-weight: 600;
        margin-top: 6.25vw;
        margin-bottom: 0;
        display: none;
        @include media(desktop-s) {
          font-size: 1.1vw;
          margin: 0;

          position: absolute;
          width: 60%;
        }
      }
    }
  }
}

.rafael-name {
  @include media(desktop-s) {
    border-right: 3px solid $color-variacion1;
    margin-top: 80px;
    height: 60px;
    display: flex;
    align-items: flex-end;
  }
}

.rafael-subtitle {
  @include media(desktop-s) {
    border-top: 3px solid $color-variacion1;
    border-left: 3px solid $color-variacion1;
  }
}

.melissa-name {
  text-align: end;
  @include media(desktop-s) {
  }
}
.melissa-subtitle {
  text-align: end;

  @include media(desktop-s) {
    border-right: 3px solid $color-variacion1;
    border-top: 3px solid $color-variacion1;
  }
}

.melissa-saber-mas {
  margin-right: 0;
}

.rafael {
  margin-top: -8.5vw;
  @include media(desktop-s) {
    margin-top: -4.73vw;
  }
  &__image {
    left: 4.68vw;
    @include media(desktop-s) {
      left: 2.66vw;
    }
  }
}

.rafael-cont {
  padding: 0 10vw 0 2vw;
}

.melissa-cont {
  padding: 0 2vw 0 0;
}

.melissa {
  @include media(desktop-s) {
    flex-direction: row-reverse;
  }
  &__image {
    right: 15px;
    @include media(desktop-s) {
      right: 2.66vw;
    }
  }
}

.block-rafael1 {
  background-color: $color-variacion2;
}
.block-rafael2 {
  left: 22.81vw;
  background-color: $color-variacion1;
  @include media(desktop-s) {
    left: 12.71vw;
  }
}
.block-rafael3 {
  left: 55.62vw;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    left: 31vw;
  }
}

.block-melissa1 {
  background-color: $color-variacion1;
  right: 0;
}
.block-melissa2 {
  background-color: $color-variacion2;
  right: 22.81vw;
  @include media(desktop-s) {
    right: 12.71vw;
  }
}
.block-melissa3 {
  right: 55.62vw;
  background-color: $color-variacion1;
  @include media(desktop-s) {
    right: 31vw;
  }
}

.subcont-melissa {
  justify-content: flex-end;
}

.ig-image,
.in-image {
  width: 50%;
}

.admins-padding-span {
  padding-left: 20px;
}
.admins-color-span {
  color: $color-variacion2;
}

.show-text {
  display: block;
}

.text-rafael.desktop {
  @include media(desktop-s) {
    display: block;
  }
}

.saber-mas-active {
  transform: rotateX(180deg);
}

.text-melissa {
  @include media(desktop-s) {
    display: block;
    text-align: start;
    width: 28.3vw;
    //border: 2px solid red;
  }
}
