.four {
  padding-bottom: 46.87vw;
  &__container {
    //border: 2px solid red;
    width: 85%;
    margin: 18.75vw 15% 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &--title {
      //border: 2px solid red;
      width: 100%;
      font-size: 6vw;
      text-align: end;
      color: $color-variacion2;
      & span {
        color: $color-variacion1;
      }
    }
    &--arrow {
      //border: 2px solid red;
      opacity: 0.19;
      opacity: 1;
      width: 7vw;
      height: 7vw;
      right: 15%;
    }
  }
}

.rafael {
  margin-top: -8.5vw;
  &__image {
    left: 4.68vw;
  }
}

.melissa {
  &__image {
    right: 15px;
  }
}

.admins {
  //border: 2px solid red;
  &__img-container {
    //border: 2px solid red;
    height: 65.62vw;
    position: relative;
    &--block1 {
      width: 48.43vw;
      height: 48.43vw;
      z-index: 1;
      bottom: 0;
      position: absolute;
    }
    &--block2 {
      width: 32.81vw;
      height: 32.81vw;
      bottom: 10.31vw;

      z-index: 2;
      position: absolute;
    }
    &--block3 {
      width: 7.81vw;
      height: 7.81vw;
      bottom: 2.5vw;
      z-index: 2;
      position: absolute;
    }
    &--image {
      width: 62.5vw;
      bottom: 0;

      position: absolute;
      z-index: 4;
    }
  }
  &__container {
    //border: 2px solid red;
    width: 75%;
    margin: 0 auto;

    &--name {
      font-size: 7.5vw;
      margin: 3vw 0 0;
      color: $color-variacion2;
    }
    &--subtitle {
      font-size: 4.06vw;
      margin: 0px 0 3.12vw;
      color: $color-variacion1;
    }
    &--subcont {
      //border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      &--button {
        width: 26.56vw;
        font-size: 3.12vw;
        font-weight: 600;
        padding: 1vw 3.12vw;
        margin-right: 2.18vw;
        display: flex;
        align-items: center;

        background-image: url(../images/admins-flecha-down.svg);
        background-size: 1.87vw;
        background-position: 90% center;
        background-repeat: no-repeat;
        background-color: $color-variacion2;
        color: $color-claro;
      }
      &--link {
        //border: 2px solid red;
        width: 6.25vw;
        height: 6.25vw;
        margin-right: 2.18vw;
        border-radius: 50px;
        background-color: $color-variacion2;
        @include basic-flex;
      }
      &--text {
        border: 2px solid red;
        width: 100%;
        font-size: 2.8vw;
        font-weight: 600;
        margin-top: 6.25vw;
      }
    }
  }
}

.melissa-name,
.melissa-subtitle {
  text-align: end;
}

.melissa-saber-mas {
  margin-right: 0;
}

.block-rafael1 {
  background-color: $color-variacion2;
}
.block-rafael2 {
  left: 22.81vw;
  background-color: $color-variacion1;
}
.block-rafael3 {
  left: 55.62vw;
  background-color: $color-variacion2;
}

.block-melissa1 {
  background-color: $color-variacion1;
  right: 0;
}
.block-melissa2 {
  background-color: $color-variacion2;
  right: 22.81vw;
}
.block-melissa3 {
  right: 55.62vw;
  background-color: $color-variacion1;
}

.subcont-melissa {
  justify-content: flex-end;
}

.ig-image,
.in-image {
  width: 50%;
}

.admins-padding-span {
  padding-left: 20px;
}
.admins-color-span {
  color: $color-variacion2;
}
