$color-primario: #1a1a1a;
$color-primario2: #383838;
$color-primario3: #808080;
$color-claro: #fff;
$color-secundario: #b3b3b3;
$color-variacion1: #2fe6b0;
$color-variacion2: #3600e0;
$color-variacion3: #1a00ad;
$color-variacion4: #180096;
$color-variacion5: #090060;
$color-transparente: rgba(0, 0, 0, 0);

$color-shadow1: rgba(54, 0, 224, 0.2);
$color-shadow2: rgba(54, 0, 224, 0.5);
$color-shadow3: rgba(255, 255, 255, 0.15);
$color-shadow4: rgba(255, 255, 255, 0.4);
$color-shadow5: rgba(0, 0, 0, 0.5);

@mixin basic-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow-caja {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Aventa";
  font-weight: 600;
  font-style: normal;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 11px;
  background: $color-claro;
  box-shadow: inset 0 0 1px 0px;
}
body::-webkit-scrollbar-thumb {
  background: $color-secundario;
  box-shadow: inset 0 0 3px 0;
}

.burger-container {
  //border: 2px solid red;
  width: 12.5vw;
  height: 12.5vw;
  display: flex;
  position: absolute;
  z-index: 5;
  right: 3.12vw;
  top: 4.68vw;
  @include media(desktop-s) {
    display: none;
  }
  &--image {
    width: 100%;
    height: 100%;
    background-image: url(../images/burger.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
  }
}

.mobile {
  @include media(desktop-s) {
    display: none;
  }
}

.desktop {
  display: none;
  @include media(desktop-s) {
    display: block;
  }
}

a:hover {
  text-decoration: none;
  color: $color-claro;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $color-shadow5;
  z-index: 0;
  display: flex;
  margin-left: 100%;
}

.overlay-active {
  margin-left: 0;
  z-index: 3;
}
