.header {
  position: fixed;
  width: 65%;
  height: 100vh;
  z-index: 7;
  transition: 0.5s ease-in-out;
  margin-left: 100%;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0 5%;
    background-color: $color-transparente;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    will-change: background-color;
    //border: 2px solid $color-variacion5;
  }
}

.header-logo-container {
  display: none;
  @include media(desktop-s) {
    display: flex;
    //border: 2px solid red;
    width: 120px;
    margin: 0;
    height: 100%;
    background-image: url(../images/logo.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    will-change: background-image;
  }
}

.header-container {
  //border: 2px solid red;
  width: 97%;
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
  padding: 24vw 10% 80px;
  @include media(desktop-s) {
    overflow: visible;
    display: flex;
    padding: 0;
    height: 50px;
    width: 170px;
    margin: 0;
    align-items: center;
  }
  &::-webkit-scrollbar {
    width: 2px;
    background: $color-variacion5;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-variacion1;
  }
  &__redes {
    //border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    @include media(desktop-s) {
      display: none;
    }
    & a {
      width: 100%;
      //border: 2px solid red;
      font-size: 4.06vw;
      font-weight: 600;
      text-decoration: none;
      color: $color-claro;
      & img {
        width: 3vw;
        margin: 1vw 1vw 0 0;
        transform: rotateZ(180deg);
      }
    }
  }
  &__buttons {
    //border: 2px solid red;
    margin-top: 30px;
    @include media(desktop-s) {
      margin: 0;
      display: flex;
      align-items: center;
    }
    &--contactanos {
      //border: 2px solid red;
      width: 40.62vw;
      margin-bottom: 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4.06vw;
      color: $color-claro;
      font-weight: 600;
      background-color: $color-variacion5;
      @include media(desktop-s) {
        display: none;
      }
      & img {
        width: 9.37vw;
        height: 9.37vw;
        margin-right: 0px;
        //border: 2px solid red;
      }
    }
    &--inscribirme {
      //border: 2px solid red;
      width: 40.62vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 1.5vw 0;
      font-size: 5.4vw;
      color: $color-claro;
      background-color: $color-variacion1;
      @include media(desktop-s) {
        font-size: 15px;
        width: 110px;
        padding: 3px 0;
        margin-right: 20px;
        background-color: $color-transparente;
        border: 3px solid $color-claro;
        transition: 0.3s;
        will-change: color;
        color: $color-variacion2;
        font-weight: 500;
      }
    }
    &--wsp {
      width: 35px;
      height: 35px;
      //border: 2px solid white;
      & figure {
        width: 100%;
        height: 100%;
        // border: 2px solid red;
        background-image: url(../images/header-wsp2.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease;
      }
    }
  }
  &__line {
    width: 100%;
    display: flex;
    margin: 30px 0;
    border-bottom: 2px solid $color-secundario;
    @include media(desktop-s) {
      display: none;
    }
  }
  &__subcontainer {
    // border: 2px solid red;
    @include media(desktop-s) {
      display: none;
    }
    &--title {
      font-weight: 600;
      line-height: 110%;
      font-size: 5vw;
      color: $color-claro;
      & span {
        font-size: 4.06vw;
        color: $color-variacion1;
      }
    }
    &--text {
      font-size: 3vw;
      line-height: 110%;
      font-weight: 600;
      font-family: $Fuente2;
      font-weight: 300;
      color: $color-claro;
    }
  }
}

.header-form {
  //border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  &__input {
    width: 100%;
    font-size: 3.12vw;
    margin-bottom: 1.56vw;
    padding: 1.56vw;
    border: none;
    outline: none;
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
      color: #aaa;
    }
  }
  &__submit {
    font-size: 2.8vw;
    padding: 2vw 2.18vw;
    margin-top: 1.56vw;
    border: none;
    outline: none;
    color: $color-claro;
    background-color: $color-variacion1;
  }
}

.is-active {
  margin-left: 35%;
}

#burger-button2 {
  @include media(desktop-s) {
    display: none;
  }
}

.inscribirme:hover {
  border: 3px solid $color-variacion2;
  background-color: $color-variacion2;
  color: $color-claro;
}

.sticky {
  @include media(desktop-s) {
    background-color: $color-variacion2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
}

.sticky .header-container__buttons--inscribirme {
  @include media(desktop-s) {
    color: #fff;
  }
}

.sticky .header-logo-container {
  @include media(desktop-s) {
    background-image: url(../images/logo2.svg);
  }
}

.sticky .header-container__buttons--inscribirme:hover {
  @include media(desktop-s) {
    color: $color-variacion1;
  }
  border: 3px solid;
}

.sticky .header-container__buttons--wsp figure {
  @include media(desktop-s) {
    background-image: url(../images/header-wsp.svg);
  }
}
