.header {
  position: fixed;
  width: 65%;
  height: 100vh;
  z-index: 5;
  transition: 0.5s ease-in-out;
  margin-left: 100%;
  background-color: $color-variacion2;
}

.header-logo-container {
  display: none;
}

.header-container {
  border: 2px solid red;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 80px;
  &__redes {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    & a {
      width: 100%;
      padding-left: 20px;
      border: 2px solid red;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      color: $color-claro;
    }
  }
  &__buttons {
    border: 2px solid red;
    margin-top: 20px;
    &--contactanos {
      border: 2px solid red;
      width: 130px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      font-size: 13px;
      color: $color-claro;
      font-weight: 600;
      background-color: $color-variacion5;
      & img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 2px solid red;
      }
    }
    &--inscribirme {
      border: 2px solid red;
      width: 130px;
      display: flex;
      justify-content: center;
      font-weight: 600;
      color: $color-claro;
      background-color: $color-variacion1;
    }
  }
  &__line {
    width: 100%;
    display: flex;
    margin: 40px 0;
    border-bottom: 2px solid $color-secundario;
  }
  &__subcontainer {
    border: 2px solid red;
    &--title {
      font-weight: 600;
      line-height: 110%;
      color: $color-claro;
      & span {
        font-size: 13px;
        color: $color-variacion1;
      }
    }
    &--text {
      font-size: 9px;
      font-weight: 600;
      color: $color-claro;
    }
  }
}

.header-form {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  &__input {
    width: 100%;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    outline: none;
    &::placeholder {
      font-family: "Aventa";
      font-weight: 600;
    }
  }
  &__submit {
    font-size: 8px;
    padding: 5px 7px;
    margin-top: 5px;
    border: none;
    outline: none;
    color: $color-claro;
    background-color: $color-variacion1;
  }
}

.is-active {
  margin-left: 35%;
}
