.hero {
  height: 575px;
  padding: 15px 5% 0;
  position: relative;

  &__green-block {
    width: 50%;
    height: 480px;
    top: 0;
    right: 0;
    z-index: 0;
    position: absolute;
    background-color: $color-variacion1;
  }
  &__title {
    // border: 2px solid red;
    width: 285px;
    margin: 60px auto 0;
    z-index: 2;
    font-size: 22px;
    font-weight: 600;
    line-height: 110%;
    position: relative;
    color: $color-variacion2;
    &--span {
      color: $color-variacion5;
      font-size: 26px;
      font-weight: 600;
    }
  }
  &__button {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 285px;
    margin: 30px auto 0;
    z-index: 2;

    &--one {
      width: 130px;
      font-weight: 600;
      padding: 3px 0;
      color: $color-claro;
      background: $color-variacion2;
      @include basic-flex;
    }
    &--two {
      width: 130px;
      font-weight: 600;
      padding: 3px 0;
      margin: 8px 0 0;
      font-size: 10px;
      color: $color-claro;
      background: $color-variacion1;
      @include basic-flex;
    }
  }
  &__image-container {
    width: 285px;
    margin: 60px 0 0;
    // border: 2px solid red;
    position: relative;
    z-index: 2;

    &--img {
      width: 100%;
      // border: 2px solid red;
    }
  }
  &__grid {
    background-image: url(../images/nf.png);
    background-size: 60%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    width: 40%;
    position: absolute;
    top: 220px;
    right: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid red;
  }
}

.mobile-logo {
  width: 90px;
  margin: 5px 0 0;
  //border: 2px solid red;
  &__image {
    width: 100%;
  }
}
