.hero {
  height: 179.68vw;
  padding: 4.68vw 5% 0;
  position: relative;
  @include media(desktop-s) {
    height: 65vw;

    padding: 11vw 5% 0;
  }
  &__green-block {
    width: 50%;
    height: 152vw;

    top: 0;
    right: 0;
    z-index: 0;
    position: absolute;
    background-color: $color-variacion1;
    @include media(desktop-s) {
      height: 60vw;
      width: 65%;
    }
  }
  &__title {
    //border: 2px solid red;
    width: 89.06vw;
    margin: 18.75vw auto 0;
    z-index: 2;
    font-size: 6.67vw;
    font-weight: 400;
    line-height: 110%;
    position: relative;
    color: $color-variacion2;
    @include media(tablet) {
      margin: 10vw auto 0;
    }
    @include media(desktop-s) {
      font-size: 3.25vw;
      width: 45vw;
      margin: 0;
    }
    &--span {
      color: $color-variacion5;
      font-size: 8.12vw;
      font-weight: 600;
      @include media(desktop-s) {
        font-size: 3.25vw;
      }
    }
  }
  &__button {
    //border: 2px solid red;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 89.06vw;
    margin: 9.37vw auto 0;
    z-index: 2;
    @include media(desktop-s) {
      margin: 4vw 0 0;
      width: 18vw;
    }
    &--one {
      width: 40.62vw;
      font-weight: 600;
      padding: 1.5vw 0;
      font-size: 5vw;
      transition: 0.3s;
      will-change: color background-color;
      //border: 2px solid red;
      color: $color-claro;
      background: $color-variacion2;
      @include basic-flex;
      @include media(desktop-s) {
        font-size: 2vw;
        width: 15vw;
        padding: 0.7vw 0;
      }
      &:hover {
        background-color: $color-variacion5;
        color: $color-variacion1;
      }
    }
    &--two {
      width: 40.62vw;
      font-weight: 600;
      padding: 1.5vw 1.5vw;
      margin: 2.5vw 0 0;
      font-size: 3.3vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: 0.3s;
      will-change: color;

      color: $color-claro;
      background: $color-variacion1;

      @include media(desktop-s) {
        font-size: 1.2vw;
        width: 15vw;
        padding: 0.5vw 0 0.5vw 0.7vw;
        margin: 1vw 0;
        justify-content: flex-start;
      }
      &:hover {
        color: $color-variacion2;
      }
      & img {
        width: 2.5vw;
        height: 2.5vw;
        margin-left: 2vw;
        transform: rotateZ(270deg);
      }
    }
  }
  &__image-container {
    width: 100%;
    margin: 18.75vw auto 0;
    //border: 2px solid red;
    position: relative;
    z-index: 2;
    @include basic-flex;
    @include media(desktop-s) {
      margin: -50px 0 0 16vw;
      width: 70vw;
      transform: rotateZ(-5deg);
    }
    &--img {
      width: 110%;
      // border: 2px solid red;
      @include media(desktop-s) {
        width: 100%;
      }
    }
  }
  &__grid {
    height: 129.06vw;
    width: 36%;
    position: absolute;
    top: 69.375vw;
    right: 0;
    z-index: 1;

    display: flex;
    @include media(desktop-s) {
      //display: none;
      // border: 2px solid red;
      width: 43%;
      top: 20.1vw;
      height: 76vw;
    }
    &--horizontal {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    &--vertical {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      &--subcont1 {
        width: 100%;
        height: 85.5%;
        display: flex;
        @include media(desktop-s) {
          height: 59%;
        }
      }
      &--subcont2 {
        width: 100%;
        height: 14%;
        display: flex;
        @include media(desktop-s) {
          height: 40.9%;
        }
      }
    }
  }
  &__desktop-media {
    @include media(desktop-s) {
      width: 228px;
      height: 250px;
      right: 0;
      top: 130px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      padding: 0 4vw;
      background-color: $color-variacion2;
    }

    & a {
      @include media(desktop-s) {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        transition: 0.5s;
        will-change: transform;
      }
      &:hover {
        transform: scale(1.2);
      }
      & img {
        @include media(desktop-s) {
          width: 100%;
        }
      }
    }
  }
}

.lineas-horizontales {
  width: 100%;
  height: 3.57%;
  border-bottom: 0.31vw solid;
  @include media(desktop-s) {
    height: 3.7%;
    border-bottom: 2px solid;
  }
}

.lineas-verticales {
  border-right: 0.31vw solid;
  width: 13.2%;
  @include media(desktop-s) {
    width: 5.88%;
    border-right: 2px solid;
  }
}

.linea-final {
  border: none;
}

.color1 {
  color: $color-variacion1;
}

.color2 {
  color: $color-variacion2;
}

.mobile-logo {
  width: 28.12vw;
  margin: 1.56vw 0 0;
  //border: 2px solid red;
  @include media(desktop-s) {
    display: none;
  }
  &__image {
    width: 100%;
  }
}
