.background-lines {
  position: absolute;
  z-index: 1;
}

.bline-one {
  width: 16%;
  height: 85vw;
  top: 243vw;
  border-top: 2px solid $color-variacion1;
  border-right: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 92.5vw;
    height: 16vw;
    width: 10%;
    border-top: 4px solid $color-variacion1;
    border-right: 4px solid $color-variacion1;
  }
}

.bline-two {
  width: 16%;
  height: 25vw;
  top: 355vw;
  border-right: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 135vw;
    height: 6vw;
    width: 10%;
    border-bottom: 4px solid $color-variacion1;
    border-right: 4px solid $color-variacion1;
  }
  @include media(desktop-m) {
    top: 130vw;
  }
}

.bline-three {
  width: 16%;
  height: 32vw;
  //top: 475vw;
  bottom: 0;
  right: 0;
  border-left: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: -15vw;
    right: 0;
    height: 13vw;
    width: 38%;
    border-bottom: 4px solid $color-variacion1;
    border-left: 4px solid $color-variacion1;
  }
}

.bline-four {
  width: 10%;
  height: 2vw;
  top: 15vw;
  right: 0;
  border-top: 2px solid $color-variacion1;
  @include media(desktop-s) {
    display: none;
    border-top: 3px solid $color-variacion1;
  }
}

.bline-five {
  width: 25%;
  height: 40vw;
  top: 15vw;
  left: 14vw;
  border-top: 2px solid $color-variacion1;
  border-left: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 7em;
    left: 22.3%;
    width: 45.4%;
    height: 22em;
    border-top: 3px solid $color-variacion1;
    border-left: 3px solid $color-variacion1;
  }
}

.bline-thirteen {
  display: none;
  @include media(desktop-s) {
    right: 0px;
    display: block;
    width: 8%;

    position: absolute;

    top: 7em;
    border-top: 3px solid $color-variacion1;
  }
}

.bline-six {
  width: 72%;
  height: 84.5vw;
  top: 69vw;
  left: 14vw;
  border-top: 2px solid $color-variacion1;
  border-right: 2px solid $color-variacion1;
  border-bottom: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 29em;
    left: 22.3%;
    width: 53.4%;
    height: 11em;
    border-top: 3px solid $color-variacion1;
    border-right: 3px solid $color-variacion1;
    border-bottom: 3px solid $color-variacion1;
  }
}

.bline-seven {
  width: 72%;
  height: 85vw;
  top: 153vw;
  left: 14vw;

  border-left: 2px solid $color-variacion1;
  border-bottom: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 40em;
    left: 22.3%;
    width: 53.4%;
    height: 14em;
    border-left: 3px solid $color-variacion1;
    border-bottom: 3px solid $color-variacion1;
  }
}

.bline-eight {
  width: 72%;
  height: 85vw;
  top: 237.5vw;
  left: 14vw;

  border-right: 2px solid $color-variacion1;
  border-bottom: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 54em;
    left: 22.3%;
    width: 53.4%;
    height: 11em;
    border-right: 3px solid $color-variacion1;
    border-bottom: 3px solid $color-variacion1;
  }
}

.bline-nine {
  width: 72%;
  height: 65vw;
  top: 322vw;
  left: 14vw;

  border-left: 2px solid $color-variacion1;
  @include media(desktop-s) {
    top: 65em;
    left: 22.3%;
    width: 53.4%;
    height: 18em;
    border-left: 3px solid $color-variacion1;
  }
}

.bline-ten {
  top: 250px;
  right: 10%;
  height: 140px;
  width: 10%;
  border-top: 4px solid $color-variacion1;
  border-right: 4px solid $color-variacion1;
  @include media(desktop-s) {
    top: 240px;
    height: 170px;
  }
  @include media(desktop-m) {
    top: 280px;
    height: 170px;
  }
  @include media(desktop-l) {
    top: 310px;
    height: 195px;
  }
}

.bline-eleven {
  top: 0;
  right: 10%;
  height: 9vw;
  width: 10%;
  border-right: 4px solid $color-variacion1;
}

.bline-fourteen {
  border-top: 4px solid $color-variacion1;
  border-right: 4px solid $color-variacion1;
  width: 25vw;
  z-index: 0;
  height: 9vw;
}

// .bline-twelve {
//   top: 10vw;
//   right: 10%;
//   height: 9vw;
//   width: 10%;
//   border-right: 3px solid $color-variacion1;
// }
