.seven {
  @include media(desktop-s) {
    padding-bottom: 10vw;
  }
  &__title {
    //border: 2px solid red;
    padding: 1.56vw 0 3.12vw 15%;
    font-weight: 600;
    font-size: 6.5vw;
    line-height: 120%;
    background-color: $color-variacion2;
    color: $color-claro;
    @include media(desktop-s) {
      font-size: 2.8vw;
      // border: 2px solid red;
      width: 40%;
      padding-left: 10%;
      margin-top: -6vw;
      position: relative;
    }
    &--span {
      color: $color-variacion1;
    }
  }
  &__arrow {
    //border: 2px solid red;
    width: 7.81vw;
    height: 7.81vw;
    margin: 9vw 0 0 15%;
    @include media(desktop-s) {
      width: 4vw;
      height: 4vw;
      margin: 2vw 0 0 10%;
    }
    &--image {
      width: 100%;
    }
  }
}
