.six {
  background-color: $color-variacion2;
  //border-top: 2px solid red;
  width: 100%;
  position: relative;
  margin-top: -9.37vw;
  @include media(desktop-s) {
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 150px;
  }
  &__title-cont {
    //border: 2px solid red;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &--title {
      text-align: end;
      font-weight: 600;
      margin-bottom: 3vw;
      width: 100%;
      font-size: 6.5vw;
      color: $color-claro;
      @include media(desktop-s) {
        font-size: 30px;
        margin-bottom: 0px;
      }
      &--span {
        color: $color-variacion1;
      }
    }
    &--arrow {
      //border: 2px solid red;
      width: 7.81vw;
      height: 7.81vw;
      @include media(desktop-s) {
        width: 40px;
        height: 40px;
      }
      &--image {
        width: 100%;
        opacity: 0.22;
        opacity: 1;
      }
    }
  }
  &__box {
    width: 55%;
    //border: 2px solid red;
    height: 78.125vw;
    margin-bottom: 6.25vw;
    z-index: 2;
    position: relative;
    background-color: $color-claro;
    @include media(desktop-s) {
      width: 380px;
      height: 170px;
      margin: 0;
      overflow: hidden;
    }
    &--background1 {
      width: 85%;
      height: 34.37vw;
      right: 0;
      position: absolute;
      background-color: $color-variacion1;
      @include media(desktop-s) {
        width: 35%;
        height: 150px;
        left: 13%;
      }
    }
    &--background2 {
      width: 15%;
      height: 7.81vw;
      top: 34.37vw;
      position: absolute;
      background-color: $color-variacion1;
      @include media(desktop-s) {
        width: 13%;
        height: 20px;
        top: 150px;
      }
    }
    &--image {
      //border: 2px solid red;
      width: 85%;
      height: 25vw;
      z-index: 3;
      top: 3.12vw;
      position: relative;
      @include media(desktop-s) {
        width: 40%;
        height: auto;
        top: 20px;
      }
    }
    &--number {
      font-size: 8.75vw;
      position: absolute;
      z-index: 3;
      right: 11%;
      top: 21.87vw;
      margin-bottom: 0;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 40px;
        top: 84px;
        right: 220px;
        color: $color-variacion2;
      }
    }
    &--stats {
      //border: 2px solid red;
      width: 80%;
      margin: 11.56vw auto 0;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 3;
      @include media(desktop-s) {
        position: absolute;
        align-items: center;
        justify-content: space-between;
        right: 0;
        top: 50px;
        margin: 0;
        width: 52%;
        padding: 0 2%;
      }
      &--minutes {
        //border: 1px solid red;
        width: 16.25vw;
        font-weight: 600;
        font-size: 3.12vw;
        text-align: end;
        background-image: url(../images/six-icon1.svg);
        background-size: 3.75vw;
        background-position: left 1px;
        background-repeat: no-repeat;
        color: $color-variacion2;
        @include media(desktop-s) {
          background-size: 10px;
          background-position: left 1px;
          width: 25%;
        }
        & p {
          margin: 0;
          @include media(desktop-s) {
            font-size: 9px;
            width: 100%;
            text-align: end;
            //border: 1px solid red;
          }
        }
      }
      &--modules {
        //border: 1px solid red;
        width: 12.5vw;
        font-weight: 600;
        font-size: 3.12vw;
        text-align: end;
        margin-left: 3.12vw;
        background-image: url(../images/six-icon2.svg);
        background-size: 4.68vw;
        background-position: left 1px;
        background-repeat: no-repeat;
        color: $color-variacion2;
        @include media(desktop-s) {
          background-size: 12px;
          width: 17%;
          margin: 0;
        }
        & p {
          margin: 0;
          @include media(desktop-s) {
            font-size: 9px;
          }
        }
      }
      &--checkbar {
        @include media(desktop-s) {
          width: 48%;
          height: 8px;
          margin-left: 5px;
          padding: 0;
          justify-content: space-between;
          align-items: center;
          border: 2px solid $color-variacion1;

          display: flex;
        }
      }
    }
    &--title {
      //border: 2px solid red;
      text-align: center;
      font-size: 3.75vw;
      margin-top: 3vw;
      margin-bottom: 0;
      font-weight: 500;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 15px;
        width: 52%;
        position: absolute;
        right: 0;
        top: 20px;
        margin-top: 0;
      }
    }
    &--actions {
      //border: 2px solid red;
      width: 90%;
      margin: 0 auto;
      height: 23.43vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      @include media(desktop-s) {
        width: 52%;
        position: absolute;
        right: 0;
        top: 70px;
        height: 90px;
        padding: 0 2%;
      }
    }
  }
}

.box-l {
  left: 5%;
  @include media(desktop-s) {
    left: 10%;
    margin: 0 0 0;
  }
}
.box-r {
  left: 40%;
  @include media(desktop-s) {
    left: 53%;
    margin-top: -90px;
  }
}

.actions-gratis {
  //border: 2px solid red;
  width: 48%;
  font-size: 3.12vw;
  padding: 4px 0;
  margin: 0 0 1.56vw;
  font-weight: 500;

  text-align: center;
  color: $color-variacion2;
  background-color: $color-variacion1;
  @include media(desktop-s) {
    font-size: 9px;
    margin: 0 0 5px;
  }
}

.actions-resumen {
  //border: 2px solid red;
  width: 48%;
  font-size: 3.125vw;
  padding: 6px 0;
  font-weight: 600;
  text-align: center;
  color: $color-claro;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    font-size: 10px;
  }
}

.actions-play {
  border: 4px solid $color-shadow1;
  width: 20.31vw;
  height: 20.31vw;
  border-radius: 300px;
  @include media(desktop-s) {
    width: 70px;
    height: 70px;
  }
  &--shadow1 {
    border: 4px solid $color-shadow2;
    width: 100%;
    height: 100%;
    border-radius: 300px;
  }
  &--shadow2 {
    border: 4px solid $color-variacion2;
    width: 100%;
    height: 100%;
    border-radius: 300px;
    @include basic-flex;
  }
}

.actions-play-image {
  width: 7.81vw;
  transform: rotateZ(270deg);
  margin: 0 0 0 1.87vw;
  @include media(desktop-s) {
    width: 35px;
    margin: 0 0 0 8px;
  }
}

.checkbar-module {
  width: 25%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.checked {
  background-color: $color-variacion2;
}

.dark-box {
  @include media(desktop-s) {
    background-color: $color-variacion5;
  }
  &__number {
    @include media(desktop-s) {
      color: $color-claro;
    }
  }
  &__title {
    @include media(desktop-s) {
      color: $color-claro;
    }
  }
  &__stats {
    @include media(desktop-s) {
      color: $color-claro;
    }
  }
  &__gratis {
    @include media(desktop-s) {
      color: $color-claro;
    }
  }
  &__play {
    @include media(desktop-s) {
      border: 4px solid $color-shadow3;
    }
    &--sh1 {
      @include media(desktop-s) {
        border: 4px solid $color-shadow4;
      }
    }
    &--sh2 {
      @include media(desktop-s) {
        border: 4px solid $color-claro;
      }
    }
  }
}
