.six-container {
  padding-bottom: 50px;
  margin-top: 0px;
  position: relative;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    padding-top: 0;
    margin-top: 10em;
    margin-bottom: 3vw;
    position: relative;
  }
}
.six {
  width: 100%;
  position: relative;
  @include media(desktop-s) {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 80%;
    height: 80em;
    margin: 0 auto 0;
  }
  &__title-cont {
    width: 80%;
    margin: 0 auto 0;
    display: flex;
    padding-right: 1vw;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include media(desktop-s) {
      margin: 0 0 2em auto;
      width: 100%;
      height: 14em;
      padding-top: 2vw;
      padding-right: 0;
    }
    &--title {
      text-align: end;
      font-weight: 600;
      margin-bottom: 1vw;
      width: 100%;
      font-size: 6.5vw;
      line-height: 100%;
      color: $color-claro;
      @include media(desktop-s) {
        font-size: 2.3em;
        margin-bottom: 0px;
        margin-top: 0.6em;
      }
      &--span {
        color: $color-variacion1;
      }
    }
    &--arrow {
      width: 7.81vw;
      height: 7.81vw;
      will-change: opacity transform;
      transition: $scroll-transition;
      @include media(desktop-s) {
        width: 4em;
        height: 4em;
      }
      &--image {
        width: 100%;
        opacity: 0.22;
        opacity: 1;
      }
    }
  }
  &__box {
    width: 60%;
    height: 78.125vw;
    z-index: 2;
    top: 0;
    position: relative;
    will-change: top opacity;
    transition: $scroll-transition2;
    background-color: $color-claro;
    @include media(desktop-s) {
      width: 47%;
      height: 16em;
      margin: 0 0;
      position: absolute;
      overflow: hidden;
      transition: 0.3s ease-in-out;
    }

    &--background1 {
      width: 85%;
      height: 34.37vw;
      right: 0;
      position: absolute;
      background-color: $color-variacion1;
      @include media(desktop-s) {
        width: 35%;
        height: 15em;
        left: 13%;
      }
    }
    &--background2 {
      width: 15%;
      height: 7.81vw;
      top: 34.37vw;
      position: absolute;
      background-color: $color-variacion1;
      @include media(desktop-s) {
        width: 13%;
        height: 2em;
        top: 15em;
      }
    }
    &--image {
      width: 85%;
      height: 25vw;
      z-index: 3;
      top: 3.12vw;
      position: relative;
      @include media(desktop-s) {
        width: 40%;
        height: auto;
        top: 20px;
      }
    }
    &--number {
      font-size: 8.75vw;
      position: absolute;
      z-index: 3;
      right: 11%;
      top: 21.87vw;
      margin-bottom: 0;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 4em;
        top: 2em;
        right: 5.4em;
        transition: 0.3s ease-in-out;
        z-index: 4;
        color: $color-variacion2;
      }
    }
    &--stats {
      width: 80%;
      margin: 11.56vw auto 0;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 3;
      @include media(desktop-s) {
        position: absolute;
        align-items: center;
        justify-content: space-between;
        right: 0;
        top: 3.7em;
        margin: 0;
        width: 52%;
        padding: 0 2%;
        transition: 0.3s ease-in-out;
      }
      &--minutes {
        width: 16.25vw;
        font-weight: 600;
        font-size: 3.12vw;
        text-align: end;
        background-image: url(../images/six-icon1.svg);
        background-size: 3.75vw;
        background-position: left 1px;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
        color: $color-variacion2;
        @include media(desktop-s) {
          background-size: 0.35em;
          background-position: left center;
          width: 26%;
        }
        & p {
          margin: 0;
          @include media(desktop-s) {
            font-size: 0.29em;
            width: 100%;
            text-align: end;
          }
        }
      }
      &--modules {
        width: 12.5vw;
        font-weight: 600;
        font-size: 3.12vw;
        text-align: end;
        margin-left: 3.12vw;
        background-image: url(../images/six-icon2.svg);
        background-size: 4.68vw;
        background-position: left 1px;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
        color: $color-variacion2;
        @include media(desktop-s) {
          background-size: 0.4em;
          background-position: left center;
          width: 18%;
          margin: 0;
        }
        & p {
          margin: 0;
          @include media(desktop-s) {
            font-size: 0.3em;
          }
        }
      }
      &--checkbar {
        @include media(desktop-s) {
          width: 45%;
          height: 0.8em;
          margin-left: 0.5em;
          padding: 0;
          justify-content: space-between;
          align-items: center;
          display: flex;
          border: 2px solid $color-variacion1;
        }
      }
    }
    &--title {
      text-align: center;
      font-size: 3.75vw;
      margin-top: 3vw;
      margin-bottom: 0;
      font-weight: 700;
      color: $color-variacion2;
      @include media(desktop-s) {
        font-size: 1.5em;
        width: 52%;
        position: absolute;
        text-align: start;
        right: 0;
        top: 1em;
        margin-top: 0;
        padding: 0 2%;
        transition: 0.3s ease-in-out;
      }
    }
    &--actions {
      width: 90%;
      margin: 0 auto;
      height: 23.43vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      @include media(desktop-s) {
        width: 52%;
        position: absolute;
        right: 0;
        top: 8em;
        height: 7em;
        padding: 0 2%;
        justify-content: flex-end;
      }
    }
  }
}

.box-l {
  left: 5%;
  @include media(desktop-s) {
    left: 0;
    margin: 0;
  }
}
.box-r {
  left: 35%;
  @include media(desktop-s) {
    right: 0%;
    left: 53%;
    right: auto;
  }
}

.six-box1 {
  top: 2vw;

  @include media(desktop-s) {
    top: 19vw;
  }
}

.six-box2 {
  top: 7vw;
  @include media(desktop-s) {
    top: 26vw;
  }
}
.six-box3 {
  top: 14vw;

  @include media(desktop-s) {
    top: 44vw;
  }
}
.six-box4 {
  top: 20vw;
  @include media(desktop-s) {
    top: 51vw;
  }
}

.actions-gratis {
  width: 48%;
  font-size: 3vw;
  padding: 2vw 0;
  margin: 0 0 1.56vw;
  font-weight: 700;
  text-align: center;
  color: $color-variacion2;
  background-color: $color-variacion1;
  @include media(desktop-s) {
    font-size: 0.9em;
    padding: 0.5em 0;
    transition: 0.3s ease-in-out;
    margin: 0 0 0.5em;
  }
}

.actions-resumen {
  width: 48%;
  font-size: 3vw;
  padding: 2vw 0;
  font-weight: 600;
  text-align: center;
  color: $color-claro;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    font-size: 1em;
    padding: 0.5em 0;
    cursor: pointer;
  }
}

.actions-play {
  width: 20.31vw;
  height: 20.31vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include media(desktop-s) {
    width: 5vw;
    transition: 0.3s ease-in-out;
    height: 5em;
  }
  &--shadow1 {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 300px;
    transition: 0.3s ease-in-out;
    animation-name: play-animation;
    animation-duration: 2s;
    animation-delay: 2.8s;
    animation-iteration-count: infinite;
    border: 0.8vw solid $color-shadow1;
    @include media(desktop-s) {
      border: 4px solid $color-shadow1;
    }
  }
  &--shadow2 {
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 300px;
    animation-name: play-animation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition: 0.3s ease-in-out;
    border: 0.8vw solid $color-shadow2;
    @include media(desktop-s) {
      border: 4px solid $color-shadow2;
    }
  }
}

@keyframes play-animation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.actions-play-image {
  width: 68%;
  height: 68%;
  transition: 0.3s ease-in-out;
  position: relative;
  background-image: url(../images/play-a.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 300px;
  border: 1vw solid $color-variacion2;
  @include media(desktop-s) {
    border: 4px solid $color-variacion2;
  }
}

.checkbar-module {
  width: 25%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.stats-box3 {
  @include media(desktop-s) {
    top: 6em;
  }
}

.checked {
  background-color: $color-variacion2;
}

.six__box:hover {
  @include media(desktop-s) {
    background-color: $color-variacion5;
  }
}

.six__box:hover .six__box--number {
  @include media(desktop-s) {
    color: $color-claro;
  }
}
.six__box:hover .six__box--title {
  @include media(desktop-s) {
    color: $color-claro;
  }
}
.six__box:hover .six__box--stats--minutes,
.six__box:hover .six__box--stats--modules {
  @include media(desktop-s) {
    color: $color-claro;
  }
}
.six__box:hover .actions-gratis {
  @include media(desktop-s) {
    color: $color-claro;
  }
}

.six__box:hover .actions-play--shadow1 {
  @include media(desktop-s) {
    border: 4px solid $color-shadow4;
  }
}
.six__box:hover .actions-play--shadow2 {
  @include media(desktop-s) {
    border: 4px solid $color-shadow4;
  }
}

.six__box:hover .actions-play-image {
  @include media(desktop-s) {
    background-image: url(../images/play-b.png);
    border: 4px solid $color-claro;
  }
}

.scroll-six.six__title-cont--arrow {
  opacity: 0.19;
  transform: scale(0.9);
  margin-right: -5%;
  margin-top: -4%;
}

.scroll-six.six-box1 {
  opacity: 0.3;
  top: 25vw;
}

.scroll-six.six-box2 {
  opacity: 0.3;
  top: 40vw;
}
.scroll-six.six-box3 {
  opacity: 0.3;
  top: 55vw;
}
.scroll-six.six-box4 {
  opacity: 0.3;
  top: 65vw;
}
