.swiper {
  //border: 2px solid red;
  width: 100%;
  height: 71.87vw;
}

.swiper2 {
  border: 2px solid red;
  width: 75%;
  margin: 0 auto;
  height: 30vw;
}

.swiper-slide {
  text-align: center;
  font-size: 5.62vw;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.opinion-box {
  width: 55%;
  height: 48.43vw;
  padding: 0 4.68vw;
  position: relative;
  @include shadow-caja;
  @include media(desktop-s) {
    height: 20vw;
    //border: 2px solid red;
    padding: 0 1vw;
    width: 80%;
  }
  &__quotation {
    //border: 2px solid red;
    width: 9.37vw;
    height: 9.37vw;
    position: absolute;
    top: -6.25vw;
    left: 0;
    &--image {
      width: 100%;
      position: absolute;
      top: -6.25vw;
      left: 0;
    }
  }
  &__text {
    font-size: 3.12vw;
    font-weight: 600;
    margin: 9.37vw 0 3.12vw;
    text-align: left;
    line-height: 115%;
    color: $color-secundario;
    @include media(desktop-s) {
      font-size: 1vw;
      margin: 6vw 0 2vw;
    }
  }
  &__author {
    text-align: end;
    font-size: 4.06vw;
    margin: 0 0 1.56vw;
    font-weight: 500;
    color: $color-variacion2;
    @include media(desktop-s) {
      font-size: 1vw;
      margin: 0 0 0.6vw;
    }
  }
  &__author-rol {
    font-size: 3.12vw;
    text-align: end;
    font-weight: 600;
    margin: 0;
    color: $color-secundario;
    @include media(desktop-s) {
      font-size: 1vw;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: $color-variacion2;
}

.falta-slider {
  text-align: center;
  color: red;
  display: none;
}
