.three {
  &__title {
    //border: 2px solid red;
    width: 50vw;
    margin: 100px 0 0 15%;
    font-size: 6vw;
    line-height: 120%;
    color: $color-variacion1;
    @include media(desktop-s) {
      font-size: 3.1vw;
      width: 26vw;
      margin: 15vw 0 0 10%;
    }
    & span {
      color: $color-variacion2;
    }
  }
  &__arrow {
    //border: 2px solid red;
    width: 7vw;
    height: 7vw;
    margin-left: 15%;
    opacity: 0.17;
    opacity: 1;
    @include media(desktop-s) {
      width: 5vw;
      height: 5vw;
      margin-left: 10%;
      margin-top: 2vw;
    }
  }
  &__container {
    //border: 2px solid red;
    width: 95vw;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media(desktop-s) {
      width: 67%;
      margin: 1vw auto 0;
    }
    &--box {
      //border: 2px solid red;
      width: 48%;
      margin-bottom: 4vw;
      padding: 15px 10px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @include media(desktop-s) {
        width: 15vw;
        padding: 15px 10px 20px;
      }
      & img {
        //border: 2px solid red;
        width: 15.62vw;
        height: 15.62vw;
        margin-bottom: 15px;
        @include media(desktop-s) {
          width: 4vw;
          height: 4vw;
        }
      }
      & h6 {
        font-size: 4.2vw;
        color: $color-variacion1;
        @include media(desktop-s) {
          font-size: 1.5vw;
        }
      }
      & p {
        //border: 2px solid red;
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 1vw;
          margin: 0;
        }
      }
    }
  }
}

.three-box1 {
  background-color: $color-variacion5;
}
.three-box2 {
  background-color: $color-variacion4;
}
.three-box3 {
  background-color: $color-variacion3;
}
.three-box4 {
  background-color: $color-variacion2;
}
