.three {
  position: relative;
  padding-bottom: 28vw;
  @include media(desktop-s) {
    padding-bottom: 40px;
    position: relative;
  }
  &__title {
    //border: 2px solid red;
    width: 50vw;
    margin: 31.25vw 0 0 15%;
    font-size: 6vw;
    line-height: 120%;
    color: $color-variacion1;
    @include media(desktop-s) {
      font-size: 40px;
      width: 400px;
      margin: 15vw 0 0 10%;
    }
    & span {
      color: $color-variacion2;
    }
  }
  &__arrow {
    //border: 2px solid red;
    width: 7vw;
    height: 7vw;
    margin-left: 15%;
    opacity: 1;
    transform: scale(1);
    transition: $scroll-transition2;
    will-change: opacity transform margin;
    @include media(desktop-s) {
      width: 40px;
      height: 40px;
      margin-left: 10%;
      margin-top: 2vw;
    }
  }
  &__container {
    // border: 2px solid red;
    width: 95vw;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media(desktop-s) {
      width: 67%;
      margin: 20px auto 0;
    }
    &--box {
      //border: 2px solid red;
      width: 48%;
      margin-bottom: 4vw;
      padding: 15px 10px;
      z-index: 2;
      transition: $scroll-transition2;
      will-change: transform opacity;
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @include media(desktop-s) {
        width: 150px;
        padding: 15px 5px 20px;
        margin-bottom: 0;
      }
      @include media(desktop-m) {
        width: 190px;
        padding: 25px 5px 30px;
      }
      @include media(desktop-l) {
        width: 230px;
        padding: 35px 5px 40px;
      }
      & img {
        //border: 2px solid red;
        width: 15.62vw;
        height: 15.62vw;
        margin-bottom: 15px;
        @include media(desktop-s) {
          width: 40px;
          height: 40px;
        }
        @include media(desktop-m) {
          width: 45px;
          height: 45px;
        }
        @include media(desktop-l) {
          width: 55px;
          height: 55px;
        }
      }
      & h6 {
        font-size: 4.2vw;
        color: $color-variacion1;
        @include media(desktop-s) {
          font-size: 15px;
        }
        @include media(desktop-m) {
          font-size: 17px;
        }
        @include media(desktop-l) {
          font-size: 20px;
        }
      }
      & p {
        //border: 2px solid red;
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
        color: $color-claro;
        @include media(desktop-s) {
          font-size: 11px;
          margin: 0;
        }
        @include media(desktop-m) {
          font-size: 13px;
        }
        @include media(desktop-l) {
          font-size: 15px;
        }
      }
    }
  }
}

.three-box1 {
  background-color: $color-variacion5;
  transform: translateY(0);
}
.three-box2 {
  background-color: $color-variacion4;
  transform: translateY(0);
}
.three-box3 {
  background-color: $color-variacion3;
  transform: translateY(0);
}
.three-box4 {
  background-color: $color-variacion2;
  transform: translateY(0);
}

.scroll-three .scroll-three-box1 {
  transform: translateY(20%);
  opacity: 0.25;
}

.scroll-three .scroll-three-box2 {
  transform: translateY(40%);
  opacity: 0.25;
}

.scroll-three .scroll-three-box3 {
  transform: translateY(50%);
  opacity: 0.25;
}

.scroll-three .scroll-three-box4 {
  transform: translateY(60%);
  opacity: 0.25;
}

.scroll-three-arrow {
  opacity: 0.17;
  transform: scale(0.9);
  margin-left: 12%;
}
