.three {
  &__title {
    //border: 2px solid red;
    width: 160px;
    margin: 100px 0 0 15%;
    font-size: 18px;
    line-height: 120%;
    color: $color-variacion1;
    & span {
      color: $color-variacion2;
    }
  }
  &__arrow {
    //border: 2px solid red;
    width: 30px;
    height: 30px;
    margin-left: 15%;
    opacity: 0.17;
    opacity: 1;
  }
  &__container {
    //border: 2px solid red;
    width: 95vw;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--box {
      //border: 2px solid red;
      width: 48%;
      margin-bottom: 4vw;
      padding: 15px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      & img {
        //border: 2px solid red;
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
      }
      & h6 {
        font-size: 14px;
        color: $color-variacion1;
      }
      & p {
        font-size: 9px;
        font-weight: 600;
        text-align: center;
        color: $color-claro;
      }
    }
  }
}

.three-box1 {
  background-color: $color-variacion5;
}
.three-box2 {
  background-color: $color-variacion4;
}
.three-box3 {
  background-color: $color-variacion3;
}
.three-box4 {
  background-color: $color-variacion2;
}
