.two {
  height: 118.75vw;
  padding: 21.87vw 0 0;
  background-color: $color-variacion2;
  @include media(desktop-s) {
    padding: 6vw 5% 0;
    position: relative;
    height: 31vw;
  }
  &__container {
    overflow: hidden;
    &--subcontainer {
      padding-top: 10px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      transform: translateX(0%);
      will-change: opacity transform;
      transition: $scroll-transition;
      @include media(desktop-s) {
        width: 37%;
        margin: 0 0 0 15%;
      }
      &--title {
        width: 60%;
        font-size: 11vw;
        line-height: 80%;
        margin-left: 0;
        position: relative;
        color: $color-variacion1;
        @include media(desktop-s) {
          font-size: 4.7vw;
          width: 70%;
        }
        & span {
          font-size: 6.7vw;
          font-weight: 600;
          line-height: 80%;
          @include media(desktop-s) {
            font-size: 2.85vw;
          }
        }
      }
      &--image {
        width: 18vw;
        height: 18vw;
        position: relative;
        right: 0;
        will-change: opacity right background-image;
        background-image: url(../images/two-reloj2.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: $scroll-transition;
        @include media(desktop-s) {
          width: 7.5vw;
          height: 7.5vw;
        }
      }
      &--text {
        width: 100%;
        font-size: 4.6vw;
        font-weight: 300;
        margin-left: 0;
        position: relative;
        color: $color-claro;
        font-family: $Fuente1;
        @include media(desktop-s) {
          font-size: 1.65vw;
          margin-top: 0.5vw;
        }
      }
      &:hover figure {
        @include media(desktop-s) {
          background-image: url(../images/two-reloj3.png);
        }
      }
    }
    &--subcontainer2 {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      will-change: opacity transform;
      transition: $scroll-transition;
      @include media(desktop-s) {
        width: 37%;
        margin: 0 0 0 15%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
      }
      &--image {
        width: 10vw;
        height: 10vw;
        opacity: 0.25;
        opacity: 1;
        left: 0;
        will-change: left opacity;
        position: relative;
        transition: $scroll-transition;
        @include media(desktop-s) {
          width: 2vw;
          height: 2vw;
          transform: rotateZ(45deg) scale(1.5);
          margin-bottom: 1vw;
        }
      }
      &--text {
        font-size: 3.8vw;
        width: 50vw;
        font-weight: 600;
        text-align: end;
        margin: 0 0 0 3.12vw;
        font-weight: 300;
        color: $color-claro;
        font-family: $Fuente1;
        @include media(desktop-s) {
          font-size: 1.3vw;
          text-align: start;
          margin: 0;
          width: 90%;
          font-weight: 400;
        }
        & span {
          font-weight: 600;
          color: $color-variacion1;
        }
      }
    }
  }
  &__figure {
    height: 59.37vw;
    margin-top: 5.4vw;
    z-index: 2;
    @include basic-flex;
    @include media(desktop-s) {
      font-size: 1vw;
      margin-top: 0;
      width: 42vw;
      height: auto;
      position: absolute;
      right: 4vw;
      top: 13.4vw;
      overflow: hidden;
    }
    &--image {
      width: 93%;
      z-index: 2;
      will-change: margin opacity;
      transition: $scroll-transition2;
      @include media(desktop-s) {
        width: 100%;
      }
    }
  }
}

#content {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -8vw;
}

.scroll-two-title {
  opacity: 0.3;

  transform: translateX(-45%);
}
.scroll-two-title-image {
  right: -70%;
}

.scroll-two-container2 {
  transform: translateX(38%);
  opacity: 0.3;
}

.scroll-two-container2-arrow {
  left: -50%;
}

.scroll-two-figure-image {
  margin-top: 22%;
  opacity: 0.3;
}
