@import "componentes/bootstrap_reboot";
@import "componentes/breakpoints";
@import "componentes/fonts";
@import "componentes/globales";
@import "componentes/lines";
@import "componentes/headers";
@import "componentes/regalos";
@import "componentes/chats";
@import "componentes/heros";
@import "componentes/twos";
@import "componentes/threes";
@import "componentes/fours";
@import "componentes/fives";
@import "componentes/sixs";
@import "componentes/sevens";
@import "componentes/sliders";
@import "componentes/contactos";
@import "componentes/footers";
